body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body p {
    font-weight: bold;
}

